<div class = "cinema-index-item">
  <h2 class="center" style="margin-bottom:15px;color:#24140e;">上映中</h2>
  <hr style="margin-bottom: 25px;">
    <div class = "cinema_image">
    <% @movies.each do |m| %>
        <%= link_to "/cinema_pages/#{m["id"]}" do %>
          <%= image_tag "https://image.tmdb.org/t/p/w200#{m["poster_path"]}",
                        class: "img-responsive",
                        alt: "movie pic" %>
          <div class="caption">
          <p><%= m["title"] %></p>
        <% end %>
        </div>
      </div>
 
    <% end %>
</div>