<div class="main">
    <div class = "container">
        <div>
            <h1>ユーザ一覧</h1>
                <% if current_user.admin %>
                    <%= link_to '新規登録', "/users/new", class: 'btn btn-primary' %>
                <% end %>
        </div>
        <table class="table-hover" >
            <thead>
                <tr>
                    <th>名前</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= link_to(user.name,"/users/#{user.id}") %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>