<div class="main users-index">
    <div class = "container">
        <div>
        <h1 class="users-heading">ユーザ一覧</h1>
            <% if current_user? && current_user.admin %>
                <%= link_to '新規登録', "/users/new", class: 'btn btn-primary' %>
            <% end %>
        </div>
        <% @users.each do |user| %>
            <div class="users-index-item">
                <hr>
                ユーザ名：
                <%= link_to(user.name,"/users/#{user.id}") %>
            </div>
        <% end %>
        <hr class = "users-index-item">
    </div>
</div>