<div class="main users-index">
    <div class = "container">
        <div>
        <h1 class="users-heading">ユーザ一覧</h1>
        </div>
        <% @users.each do |user| %>
            <div class="users-index-item">
                <hr>
                <% if user.image.attached? %>
                    <%= image_tag user.image %>
                <% else %>
                    <%= image_tag 'https://cinema-log.s3-ap-northeast-1.amazonaws.com/default.png' %>
                <% end %>
                <%= link_to(user.name,  "/users/#{user.id}") %>
            </div>
        <% end %>
        <hr class = "users-index-item">
    </div>
</div>