<div class="main">
    <div class = "container">
        <%= image_tag @cinema.image %>
        <%= link_to(post_new_path(@cinema.id), class: "btn-circle-3d") do %>
            <i class="material-icons"> message </i>
        <% end %>
        <a href="#" class="btn-circle-3d">
            <i class="material-icons">group_add </i>
        </a>
        <% @posts.each do |post| %>
            <%= post.content %>
        <% end %>
    </div>
</div>