/* cinema item */
.cinema-index-item {
  text-align: center;
  
  .cinema_image {
    display: flex;
    font-weight: bold;
    margin: 10px 5px;
    img{
      width: 50%;
      height: 50%; 
    }
    p {
      color: #f1eeee;
      margin: 10px 0 15px 0;
    }
  }
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}