/* cinema item */
.cinema-index-item {
  text-align: center;
  .cinema_image {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 10px 30px;
  }
  p {
    color: #f1eeee;
    margin: 10px 0 15px 0;
  }
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}