.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #333333;
  color: #FFF;
  width: 180px;
  height: 60px;
  line-height: 75px;
  border-radius: 20%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #000000;
  transition: .4s;
  margin-top: 10px;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.content1 {
  text-align: center;
  width: 40%;
  float: left;
  img {
    height: 360px;
    width: 260px;
  }
  a:hover {
    color: #000000;
  }
}

.content2 {
  width: 60%;
  float: left;


.post-content {
  margin: 5px 0;
  background-color: #EEEEEE;
  border-radius: 2%;
  hr {
    margin: 5px 0 7px 0;
  }
  .post-user-name {
    padding: 10px 0px 0px 20px;
    a{
      font-weight: 600;
      font-size: 18px;
      color: #000000;
      &:hover{
        color: #3ecdc6;
        }
      }
  }
  p {
    margin-left: 5px;
    font-size: 5px;
    padding-left: 17px;
  }
  .post-user-content{
    padding: 10px 15px;
  }
  }
}


