<header>
      <div class="header-logo">
        <%= link_to("CinemaLog", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Cienema Logとは", "#") %>
        </li>
        <li>
          <%= link_to("投稿一覧", "#") %>
        </li>
      </ul>
    </header>